In [ ]:
idades = [39,15,16,30]

In [ ]:
idades

[39, 15, 16, 30]

In [ ]:
idades.append(45)

In [ ]:
idades

[39, 15, 16, 30, 45]

In [ ]:
idades.insert(0,98)
idades

[98, 39, 15, 16, 30, 45]

In [ ]:
idades = [39,15,16,30]
idades.extend([58,64,25])
idades

[39, 15, 16, 30, 58, 64, 25]

In [ ]:
idades = [39,15,16,30]
idades_no_ano_que_vem = [(idade+1)for idade in idades] #faz em uma linha uma operação por item da lista
idades_no_ano_que_vem

[40, 16, 17, 31]

In [ ]:
#filtrando uma list em uma linha de codigo
idades = [39,15,16,30,65,8,20,4,68,25,18]
idades_filtradas = [(idade) for idade in idades if idade > 20] #somente aiores de 20 anos
idades_filtradas

[39, 30, 65, 68, 25]

# Listas de objetos

In [ ]:
class ContaCorrente:
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0
  def deposita(self, valor):
    self.saldo += valor
  def __str__(self):
    return f'>>Codigo: {self.codigo} | Saldo: {self.saldo}<<'

In [ ]:
conta_do_will = ContaCorrente(16)
conta_do_will

In [ ]:
print(conta_do_will)

>>Codigo: 16 | Saldo: 0<<

In [ ]:
conta_do_will.deposita(500)
print(conta_do_will)

>>Codigo: 16 | Saldo: 500<<

# Herança e Polimorfismo

In [ ]:
class Conta:
  def __init__(self, codigo):
    self.codigo = codigo
    self.saldo = 0
  def deposita(self, valor):
    self.saldo += valor
  def __str__(self):
    return f'>>Codigo: {self.codigo} | Saldo: {self.saldo}<<'

In [ ]:
class ContaCorrente(Conta):
  def passa_o_mes(self):
    self.saldo -= 2 #desconta 2 reais por mês

class ContaPoupanca(Conta):
  def passa_o_mes(self):
    self.saldo *= 1.01 #paga juros
    self.saldo -= 2 #desconta manutenção da conta

In [ ]:
conta1 = ContaCorrente(1)
conta2 = ContaPoupanca(2)
conta1.deposita(100)
conta2.deposita(100)

In [ ]:
conta1.passa_o_mes()
conta2.passa_o_mes()

In [ ]:
print(conta1)
print(conta2)

>>Codigo: 1 | Saldo: 98<<
>>Codigo: 2 | Saldo: 99.0<<

In [ ]:
conta1 = ContaCorrente(1)
conta2 = ContaPoupanca(2)
conta1.deposita(1000)
conta2.deposita(1000)
contas = [conta1, conta2]
for conta in contas:
  conta.passa_o_mes()
  print(conta)

>>Codigo: 1 | Saldo: 998<<
>>Codigo: 2 | Saldo: 1008.0<<

## Array - EVITAREMOS DE USAR ARRAY PURO
Para trabalhos numéricos que exijam muito desempenho, usamos o **numpy**

In [ ]:
import array as arr

arr.array('d', [1, 3.5])

array('d', [1.0, 3.5])

In [ ]:
arr.array('d', [1, 3.5, 'Guilherme']) #falha pois não é possivel mesclar tipos diferentes de dados em um array

TypeError: ignored

In [ ]:
# Usar: !pip install numpy para instalar a biblioteca, caso ainda não a tenha

In [ ]:
import numpy as np

numeros = np.array([1, 3.5])
numeros

array([1. , 3.5])

In [ ]:
array([4. , 6.5])

NameError: ignored

In [ ]:
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

In [ ]:
conta1 = ContaSalario(37)
conta2 = ContaCorrente(37)

In [ ]:

conta1 == conta2

False

In [ ]:
isinstance(ContaCorrente(34), ContaCorrente)

True

In [ ]:
isinstance(ContaCorrente(34), Conta)

True

# Usando Enumerate e "Desempacotando" dados de tuplas em laços

In [ ]:
idades = [65,12,35,89,8,45,23,87]
for tupla_idade in enumerate(idades):
  print(tupla_idade)

(0, 65)
(1, 12)
(2, 35)
(3, 89)
(4, 8)
(5, 45)
(6, 23)
(7, 87)

In [ ]:
idades = [65,12,35,89,8,45,23,87]
for indice, idade in enumerate(idades):
  print(indice,"x", idade)

0 x 65
1 x 12
2 x 35
3 x 89
4 x 8
5 x 45
6 x 23
7 x 87

In [ ]:
pessoas = [("William", 23, 1997),("Clarice", 65, 1962), ("Tiago", 21, 1999)]
for nome, idade, nascimento in pessoas:
  print(nome,"tem", idade, "e nasceu em", nascimento)

William tem 23 e nasceu em 1997
Clarice tem 65 e nasceu em 1962
Tiago tem 21 e nasceu em 1999

In [ ]:
pessoas = [("William", 23, 1997),("Clarice", 65, 1962), ("Tiago", 21, 1999)]
for nome, _, _ in pessoas: #quando não quero usar o restante
  print(nome)

William
Clarice
Tiago

# Ordenando valores

In [ ]:
idades = [65,12,35,89,8,45,23,87]

In [ ]:
sorted(idades) #ordena, sem alterar o valor da lista

[8, 12, 23, 35, 45, 65, 87, 89]

In [ ]:
idades

[65, 12, 35, 89, 8, 45, 23, 87]

In [ ]:
sorted(idades, reverse=True)

[89, 87, 65, 45, 35, 23, 12, 8]

In [ ]:
idades.sort() #ordena e APLICA

In [ ]:
idades

[8, 12, 23, 35, 45, 65, 87, 89]

In [ ]:
idades.sort(reverse=True)

In [ ]:
idades

[89, 87, 65, 45, 35, 23, 12, 8]

## Ordenando Objetos

In [ ]:
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

for conta in contas:
  print(conta) #Mostra as contas

[>>Codigo 17 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]

In [ ]:
sorted(contas) #nesse caso, não vai funcionar, pois falta definir os parâmetros (qual o critério para saber quem é maior?)

TypeError: ignored

In [ ]:
conta_do_guilherme < conta_da_daniela #mesma situação

TypeError: ignored

In [ ]:
#uma maneira de resolver é usar o saldo como key
#SO QUE ISSO QUEBRA O ENCAPSULAMENTO, NÃO É LEGAL
def extrai_saldo(conta):
  return conta._saldo

for conta in sorted(contas, key=extrai_saldo):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [ ]:
#uma forma de acessar as informações de uma classe é:
#mas isso ainda quebra o encapsulamento
from operator import attrgetter

for conta in sorted(contas, key=attrgetter("_saldo")):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [ ]:
#para ordenar por codigo caso o saldo seja igual
for conta in sorted(contas, key=attrgetter("_saldo", "_codigo")):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [ ]:
#RE-DECLARANDO
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __lt__(self, outro): #a função "__lt__" indica o que deve ser usado como parâmetro de ordenação desses objetos
      return self._saldo < outro._saldo

  def __eq__(self, outro): #indica o que deve ser usado como parâmetro para dizer se as contas são iguais
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

for conta in contas:
  print(conta) #Mostra as contas

[>>Codigo 17 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]

In [ ]:
#agora as comparações vão funcionar
conta_do_guilherme > conta_da_daniela

False

In [ ]:
#ordenando as contas do menor para o maior SALDO
for conta in sorted(contas):
  print(conta)

[>>Codigo 17 Saldo 500<<]
[>>Codigo 133 Saldo 510<<]
[>>Codigo 3 Saldo 1000<<]

In [ ]:
#RE-DECLARANDO
from functools import total_ordering

@total_ordering
class ContaSalario:
  
  def __init__(self, codigo):
    self._codigo = codigo
    self._saldo = 0
    
  def __eq__(self, outro):
    if type(outro) != ContaSalario:
      return False
    
    return self._codigo == outro._codigo and self._saldo == outro._saldo
  
  def __lt__(self, outro):
    if self._saldo != outro._saldo:#adiciona possibilidade de ordenar pelo codigo caso o saldo seja igual
      return self._saldo < outro._saldo
    
    return self._codigo < outro._codigo
  
  def deposita(self, valor):
    self._saldo += valor
    
  def __str__(self):
    return "[>>Codigo {} Saldo {}<<]".format(self._codigo, self._saldo)

conta_do_guilherme = ContaSalario(17)
conta_do_guilherme.deposita(500)

conta_da_daniela = ContaSalario(3)
conta_da_daniela.deposita(1000)

conta_do_paulo = ContaSalario(133)
conta_do_paulo.deposita(510)

contas = [conta_do_guilherme, conta_da_daniela, conta_do_paulo]

for conta in contas:
  print(conta) #Mostra as contas

[>>Codigo 17 Saldo 500<<]
[>>Codigo 3 Saldo 1000<<]
[>>Codigo 133 Saldo 510<<]

In [ ]:
#agora as comparações vão funcionar
conta_do_guilherme >= conta_da_daniela

False